terratowns_endpoint="https://terratowns.cloud/api"
rollercoaster = {
    public_filepath="/workspace/terraform-bootcamp/public/rollercoaster"
    content_version=1
}
music = {
    public_filepath="/workspace/terraform-bootcamp/public/music"
    content_version=1
}